version: "3.8"

services:
  ros2-moveit:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ros2-moveit-workspace
    image: ros2-moveit-workspace:latest

    environment:
      - DISPLAY=${DISPLAY}
      - XAUTHORITY=/home/ros/.Xauthority
      - XDG_RUNTIME_DIR=/tmp/runtime-ros
      - QT_X11_NO_MITSHM=1
      - QT_QPA_PLATFORM=xcb
      - LIBGL_ALWAYS_SOFTWARE=1
      - LIBGL_DRI3_DISABLE=1
      - MESA_LOADER_DRIVER_OVERRIDE=llvmpipe
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - NVIDIA_DRIVER_CAPABILITIES=all
      - NVIDIA_VISIBLE_DEVICES=all

    volumes:
      - ..:/workspace:cached
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${HOME}/.Xauthority:/home/ros/.Xauthority:ro
    devices:
      - /dev/dri:/dev/dri
    group_add:
      - video

    network_mode: host
    ipc: host
    stdin_open: true
    tty: true
    command: /bin/bash -lc "while sleep 1000; do :; done"
