<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ranger_mini_complete">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ranger_mini_complete urdf file -->
    <xacro:include filename="$(find ranger_description)/urdf/ranger_complete.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="ranger_mini_complete.ros2_control.xacro" />


    <xacro:ranger_mini_complete_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
